{{- /* theme-toggle is enabled */}}
{{- if (not site.Params.disableThemeToggle) }}
{{- /* theme is light */}}
{{- if (eq site.Params.defaultTheme "light") }}
{{- printf `<script>
    if (localStorage.getItem("%s") !== "dark") {
        document.body.classList.add('light');
    }
</script>` site.Params.defaultTheme | safeHTML }}
{{- else }}
{{- printf `<script>
    if (localStorage.getItem("%s") === "dark") {
        document.body.classList.add('dark');
    }
</script>` site.Params.defaultTheme | safeHTML }}
{{- end }}
{{- end }}

{{- /* Header */ -}}
<header class="header">
    <div class="nav-container">
        <div class="logo">
            <a href="https://muteit.ru/"><img src="/img/muteit-logo.svg" alt="Mute It Logo" width="40" height="40"></a>
        </div>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="main-nav">
            <a href="https://muteit.ru/">Главная</a>
            <a href="https://muteit.ru/tips/">Советы</a>
            <a href="https://muteit.ru/start/">С чего начать</a>
            <a href="https://muteit.ru/treatments/">Помощь</a>
            <a href="https://muteit.ru/stories/">Истории</a>
            <a href="https://muteit.ru/blog/" class="active">База знаний</a>
        </nav>
        <div class="donation">
            <a href="https://yoomoney.ru/fundraise/18ERQJPU5TH.250216" target="_blank" rel="noopener noreferrer">Поддержать проект</a>
        </div>
    </div>
</header>
{{- /* End Header */ -}}

{{- /* Main Menu */ -}}
{{- if (not .IsHome) }}
<header class="page-header">
    {{- partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<script>
document.querySelector('.burger').addEventListener('click', () => {
  document.querySelector('.main-nav').classList.toggle('active');
});
</script> 